@import './variables.css';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: 'Inter', sans-serif;
}

input::placeholder {
  color: var(--placeholder);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 15px;
}

body {
  scrollbar-color: #fff !important;
  scrollbar-width: 8px;
}

a {
  text-decoration: none;
  color: var(--black);
}

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--light-blue);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primary-button {
  padding: 10px 12px;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.secondary-button {
  width: fit-content;
  padding: 8px 12px;
  background-color: var(--light-blue);
  color: var(--blue);
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.secondary-button:hover {
  background-color: var(--blue);
  color: var(--light-blue);
}

.secondary-button.red-button {
  background-color: #fff;
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
}
.secondary-button.red-button:hover {
  color: #fff;
  background-color: var(--dark-red);
}

.primary-button:hover {
  color: var(--light-blue);
  background-color: var(--blue);
}

.ui-widget-content {
  background: none !important;
}

.ui-widget.ui-widget-content {
  border: 1px solid #33333300 !important;
}

.ui-slider-horizontal {
  height: 4px !important;
}

.ui-widget-header {
  border: 1px solid var(--slider-blue) !important;
  background: var(--slider-blue) !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 15px !important;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -8.5px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid var(--blue) !important;
  background: var(--blue) !important;
  outline: none !important;
}